.app__container {
  width: 834px;
  margin: 0 auto;
  padding: 0;
}

.app__header {
  margin: 40px 0 30px;
  text-align: center;
}

.app__logo {
  display: inline-block;
  width: 82px;
  height: 89px;
}

.app__inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.app__widgets {
  width: 232px;
}

.app__content {
  width: 500px;
}

.app__widgets, .app__content {
  margin: 0 calc(var(--default-padding) / 2);
}